########################################################	
# try to cache, compress and set header of js files
# in this directory, if supported by the server
########################################################	
# cache (1 year should do one would think) 	
<ifModule mod_expires.c>
	ExpiresActive On # enable expirations
	ExpiresByType text/javascript "access plus 1 year"
	ExpiresByType application/x-javascript "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
</ifModule>

# compress
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript	
</ifModule>

# set header
<IfModule mod_headers.c>
  <FilesMatch "\.(js)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>